@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <style>
            
        </style>
    </head>
    <body>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Name</a></th>
                <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Products.Any())
                {
                    foreach(var item in Model.Products)
                    {
                        var ItemDetailsPage = "/ProductDetails/" + item.ID;
                        <tr>
                            <th scope="row">@item.ID</th>
                            <td><a href= @ItemDetailsPage >@item.Name</a></td>
                            <td>@item.Price $</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <a href="/AddProduct"><button  type="button" class="btn btn-primary">Add New Product</button></a>

    </body>
</html>
