@page "{id}"
@model UpdateProductModel
@{
    ViewData["Title"] = "Upate Product";
}

<form asp-page-handler="OnPost" method="post">
            <div class="form-group">
                <label asp-for="Input.Name">Enter Name</label>
                <input asp-for="Input.Name" type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Price">Enter Price</label>
                <input asp-for="Input.Price" type="text" class="form-control" id="exampleInputPassword1" placeholder="Price">
                <span asp-validation-for="Input.Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
</form>